@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

/* CSS HEX */
* {--prussian-blue: #003049ff;
--maximum-red: #d62828ff;
--orange: #f77f00ff;
--maximum-yellow-red: #fcbf49ff;
--lemon-meringue: #eae2b7ff;}

:root {
    --background: var(--prussian-blue);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Hubballi', cursive;
    background-color: var(--background);
    padding-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

#main-logo{
    width: fit-content;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#customizer {

    display: block;
    background-color: var(--orange);
    padding: 20px;
    width: fit-content;

}

h1{
    font-size: 36px;
}

#nickname-lab {

    font-weight: bold;
    
}

#name-input {

}

#evolution-select {

}

#move-select{

}

#button{
    padding-top: 5px;
}

#export-button {

    
}

#poke-card {

    width: 350px;
    padding: 20px;
    text-align: center; 
    display: block;



}

#name-display{
    text-align: center;


}

#image-display{

    width: 50%;
    
}

.fire {
    border: 5px solid red;
    background: var(--maximum-red);


}

.normal {
    background: gray;
    border: 5px solid black;
}

.dragon {
    background: blue;
    border: 5px solid purple;
}